[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=peaked
Exec=/usr/bin/peaked
Name=Peaked

[X-Sailjail]
OrganizationName=rs.r8
ApplicationName=peaked
Permissions=Internet;Notifications;Pictures;MediaIndexing;Camera
