[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=peeked
Exec=/usr/bin/peeked
Name=Peeked

[X-Sailjail]
OrganizationName=rs.r8
ApplicationName=peeked
Permissions=Internet;Notifications;Pictures;MediaIndexing;Camera
